// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

html, body { height: 100%; weight: 100%; margin: 0; padding: 0; }
      #map { height: 70%; weight: 50%}
